<h1>
  Angular2 A11y
</h1>
<h2 class="h4"><a href="https://github.com/leigit/ozewai-2016">https://github.com/leigit/ozewai-2016</a></h2>
<hr>
<h2>Buttons</h2>

<app-button></app-button>
<hr>

<h2>Modal</h2>

<button type="button" class="btn btn-success" (click)="modal.show()">Launch Modal</button>
<app-modal>
  <div class="app-modal-header">
    Modal header
  </div>
  <div class="app-modal-body">
    Whatever content you like, form fields, anything
    <a href="">I'm a link and should be tabbable</a>
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
    </form>

  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default pull-left" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</app-modal>
<hr>
<h2>Counter</h2>
<app-counter [(counter)]="counterValue">
</app-counter>
<hr>
