<h1>
  {{title}}
</h1>

<button type="button" (click)="modal.show()">test</button>
<app-modal>
  <div class="app-modal-header">
    header
  </div>
  <div class="app-modal-body">
    Whatever content you like, form fields, anything
    <a href="">I'm a link and should be tabbable</a>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide()">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button>
  </div>
</app-modal>
